---
import Logo from './buttons/NavLogo.astro';
import Item from './buttons/NavItem.astro';

const {
    hrefHome,
    classHome,
    hrefBlog,
    classBlog,
    hrefPort,
    classPort,
    hrefAbout,
    classAbout
} = Astro.props;
---
<nav class="navbar navbar-dark ms-2 me-2 mt-2 rounded-pill shadow-lg navbar-expand-lg" style="background-color: #00004c;">
    <div class="container-fluid">
        <Logo link="/">
            Acesotope's Blogs
        </Logo>
        <div class="container-fluid">
            <ul class="navbar-nav">
                <Item Href="/" Class={classHome}>
                    Home
                </Item>
                <Item Href="/blog" Class={classBlog}>
                    Blog
                </Item>
                <Item Href="/portfolio" Class={classPort}>
                    Portfolio
                </Item>
                <Item Href="/about" Class={classAbout}>
                    About
                </Item>
            </ul>
        </div>

        <ul class="navbar-nav" style="margin-top: -10%;margin-bottom: -10%;">
            <Item Class="nav-link" Href="https://github.com/acepilotph/acesotopeBlog">
                <i class="bi bi-github" style="font-size: 35px;" />
            </Item>
        </ul>
        <ul class="navbar-nav">
        </ul>
    </div>
</nav>